@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Font-wght.woff");
}

:root {
  --body_background: #101010;
  --body_color: #fff;
  --heading_color: #ffe400;
}

[data-theme="light"] {
  --body_background: #fff;
  --body_color: #000;
  --heading_color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #101010;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.align_center {
  display: flex;
  align-items: center;
}